body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER NAVBAR */
.navbar {
    background-color: #0e1e5b;
    display: flex;
    flex-direction: column;
    padding: 1px 0;
    color: white;
}

.logo {
    font-size: 70px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 8px;
    position: absolute;
    left: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-left: 140px;
    padding-bottom: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a img {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
    padding-top: 20px;
}

/* TRACKING SECTION */
.tracking {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .tracking h1 {
    font-size: 28px;
    color: #0e1e5b;
    margin-bottom: 30px;
    margin-right: 200px;
  }
  
  .tracking-wrapper {
    background-color: #0e1e5b;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px 20px;
    width: 400px;
    max-width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .search-icon {
    color: white;
    font-size: 30px;
    margin-right: 10px;
  }
  
  #tracking-number {
    flex: 1;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: transparent;
    color: white;
  }
  
  #tracking-number::placeholder {
    color: white;
    opacity: 0.8;
  }
  
  .track-button {
    background-color: #0e1e5b;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .track-button:hover {
    background-color: #132c80;
  }


  .status-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
/* FOOTER */
.footer-bar {
    height: 100px;
    position: relative;
    background-color: #0e1e5b;
    margin-top: auto;
    width: 100%;
    overflow: hidden;
}

.footer-bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 140%;
    background-image: url('../img/skyline.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: contain;
    opacity: 0.1;
    z-index: 1;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}